

.AddPostWind {
    
    z-index: 4;

    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.681);

    display:  flex;
    justify-content: center;
    align-items: center;
}

.APWContent {
    height: 30rem;
    width: 46rem;
    

    background-color: white;
}

.AddPostWindNone {
    position: absolute;
    visibility:hidden;
}