@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body, main{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
}


.App {
    height: 100vh;
    width: 100vw;

    display: flex;

}



.RightSide {
    height: 100%;
    width: 100%;
    

    background-image: url("../images/backgraund5.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;

     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
}

.RightWrapper::-webkit-scrollbar {
    display: none;
  }

.RightWrapper {
    /* backdrop-filter: blur(8px); */
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.EmptyBox {
    min-height: 4rem;
    width: 100%;
}

.EmptyBoxEnd {
    min-height: 6rem;
    width: 100%;
}


.Box {
    width: 85%;
    height: min-content;

    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ItemsList {
    height: min-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NameOfIventList {
    width: 80%;

    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 50px;
}

.Item {
    width: 80%;
    height: 5rem;
    margin: 5px;

    padding-left: 10px;
    padding-right: 10px;

    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: row;
}

.DoneBreaker {
    height: 100%;
    width: 4.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemContent {
    height: 100%;
    width: 100%;

    margin-left: 4px;

    display: flex;
    flex-direction: column;

}

.EditBtnWrapper {
    height: 100%;
    width: 4.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemText {
    height: 52%;
    margin-bottom: 2px;

    font-size: 22px;
    font-weight: bold;

    display: flex;
    align-items: flex-end;
}

.ItemDate {
    font-size: 17px;
    color: blue;
}

.Ti {
    height: 30px;
    width: 30px;
    background-color: rgb(206, 206, 206);
}

.WAddBtn {
    position: absolute;
    margin-bottom: 30px;
    margin-right: 30px;

    height: 60px;
    width: 60px;

    z-index: 3;

    border-radius: 30px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.AddBtn {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.AddBtn:hover {
    transform: rotate(90deg);
}



/* ////////////////////////////////////////// */


.LeftSide {
    height: 100%;
    width: 22%;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.Header {
    height: 8rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Name {
    font-size: 170%;
    font-weight: bold;
}

.Email {
    font-size: 110%;
    font-weight: 400;
    color: darkgray;
}

.Line {
    min-height: 1px;
    width: 80%;
    background-color: black;
}


.Filtr {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;


}

.FiltrText {
    font-size: 170%;
    font-weight: bold;
    margin: 20px;
}

.FiltrList {
    width: 70%;
}

.FiltrItem {

    display: flex;
    font-size: 120%;
    border-radius: 5px;
}


.FilBtn {
    padding: 7px;
    font-size: 90%;
    height: 100%;
    width: 100%;

    border-radius: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
    border: none;
}

.FilBtn:hover {
    background-color: rgb(240, 240, 240);
}

.Ti2 {
    height: 15px;
    width: 15px;

    margin-right: 8px;

    border-radius: 5px;
    background-color: rgb(206, 206, 206);
}

.Footer {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WBtn {
    height: 38px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;

 

    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn {
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn:hover {
    background-color: rgb(244, 244, 244);
}


/* //////////////////////////////////////////////////////////////////////////////////// */







